backports.functools-lru-cache==1.6.4
cycler==0.10.0
data==0.4
decorator==4.4.2
funcsigs==1.0.2
future==0.18.2
kiwisolver==1.1.0
latex==0.7.0
matplotlib==2.2.5
numpy==1.16.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.1
scons==3.1.2
shutilwhich==1.1.0
six==1.16.0
subprocess32==3.5.4
tempdir==0.7.1
